In [7]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import numpy as np

In [5]:
resale_price = pd.read_csv("resale_price.csv")
resale_price

,TOWN,FLAT TYPE,BLOCK,STREET NAME,STOREY RANGE,FLOOR AREA (SQM),FLAT MODEL,LEASE COMMENCE DATE,RESALE PRICE,RESALE REGISTRATION DATE,
0,ANG MO KIO,2 ROOM,323,ANG MO KIO AVE 3,10 TO 12,44,Improved,1977,"$2,65,000.00",04/15,
1,ANG MO KIO,2 ROOM,314,ANG MO KIO AVE 3,07 TO 09,44,Improved,1978,"$2,72,000.00",04/15,
2,ANG MO KIO,2 ROOM,172,ANG MO KIO AVE 4,07 TO 09,45,Improved,1986,"$2,50,000.00",02/15,
3,ANG MO KIO,2 ROOM,116,ANG MO KIO AVE 4,04 TO 06,44,Improved,1978,"$2,41,000.00",04/15,
4,ANG MO KIO,2 ROOM,508,ANG MO KIO AVE 8,04 TO 06,44,Improved,1980,"$2,45,000.00",02/15,
5,ANG MO KIO,2 ROOM,508,ANG MO KIO AVE 8,01 TO 03,44,Improved,1980,"$2,30,000.00",03/15,
6,ANG MO KIO,2 ROOM,508,ANG MO KIO AVE 8,04 TO 06,44,Improved,1980,"$2,40,000.00",04/15,
7,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,01 TO 03,44,Improved,1980,"$2,45,000.00",04/15,
8,GEYLANG,3 ROOM,82,MACPHERSON LANE,01 TO 03,61,Standard,1968,"$2,10,000.00",01/15,
9,GEYLANG,3 ROOM,46,CIRCUIT RD,01 TO 03,51,Standard,1971,"$2,33,000.00",04/15,
10,JURONG WEST,3 ROOM,121,YUAN CHING RD,07 TO 09,61,Improved,1974,"$2,38,000.00",04/15,
11,BUKIT BATOK,3 ROOM,213,BT BATOK ST 21,04 TO 06,67,New Generation,1984,"$2,40,000.00",02/15,
12,JURONG WEST,3 ROOM,185,BOON LAY AVE,07 TO 09,59,Improved,1975,"$2,40,000.00",02/15,
13,JURONG WEST,3 ROOM,186,BOON LAY AVE,01 TO 03,59,Improved,1975,"$2,40,000.00",04/15,
14,WOODLANDS,3 ROOM,129,MARSILING RISE,07 TO 09,60,Improved,1985,"$2,40,000.00",01/15,
15,HOUGANG,3 ROOM,681,HOUGANG AVE 8,04 TO 06,64,Simplified,1989,"$2,43,000.00",03/15,
16,WOODLANDS,3 ROOM,22,MARSILING DR,01 TO 03,67,New Generation,1977,"$2,44,000.00",04/15,
17,JURONG WEST,3 ROOM,186,BOON LAY AVE,10 TO 12,59,Improved,1975,"$2,45,000.00",03/15,
18,GEYLANG,3 ROOM,70,CIRCUIT RD,01 TO 03,56,Standard,1969,"$2,48,000.00",03/15,
19,JURONG WEST,3 ROOM,186,BOON LAY AVE,10 TO 12,59,Improved,1975,"$2,48,000.00",01/15,
20,JURONG WEST,3 ROOM,185,BOON LAY AVE,13 TO 15,59,Improved,1975,"$2,48,000.00",04/15,
21,BUKIT BATOK,3 ROOM,175,BT BATOK WEST AVE 8,04 TO 06,67,New Generation,1985,"$2,50,000.00",04/15,
22,GEYLANG,3 ROOM,58,CIRCUIT RD,07 TO 09,56,Standard,1969,"$2,50,000.00",04/15,
23,HOUGANG,3 ROOM,6,HOUGANG AVE 3,04 TO 06,59,Improved,1975,"$2,50,000.00",02/15,
24,HOUGANG,3 ROOM,2,HOUGANG AVE 3,10 TO 12,59,Improved,1975,"$2,50,000.00",04/15,
25,JURONG WEST,3 ROOM,185,BOON LAY AVE,04 TO 06,59,Improved,1975,"$2,50,000.00",02/15,
26,KALLANG/WHAMPOA,3 ROOM,75,WHAMPOA DR,01 TO 03,65,Improved,1974,"$2,50,000.00",04/15,
27,WOODLANDS,3 ROOM,202,MARSILING DR,01 TO 03,68,New Generation,1981,"$2,50,000.00",02/15,
28,WOODLANDS,3 ROOM,204,MARSILING DR,07 TO 09,68,New Generation,1981,"$2,50,000.00",02/15,
29,WOODLANDS,3 ROOM,23,MARSILING DR,07 TO 09,67,New Generation,1977,"$2,50,000.00",03/15,
...,...,...,...,...,...,...,...,...,...,...,...
5375,CENTRAL AREA,5 ROOM,1F,CANTONMENT RD,10 TO 12,106,Type S2,2011,"$9,58,800.00",03/15,
5376,CENTRAL AREA,5 ROOM,1C,CANTONMENT RD,37 TO 39,107,Type S2,2011,"$9,60,000.00",02/15,
5377,CENTRAL AREA,5 ROOM,1C,CANTONMENT RD,31 TO 33,105,Type S2,2011,"$9,73,888.00",03/15,
5378,CENTRAL AREA,5 ROOM,1C,CANTONMENT RD,31 TO 33,106,Type S2,2011,"$9,80,000.00",01/15,
5379,QUEENSTOWN,5 ROOM,9,HOLLAND AVE,22 TO 24,147,Adjoined flat,1974,"$9,85,000.00",02/15,
5380,CENTRAL AREA,5 ROOM,1C,CANTONMENT RD,28 TO 30,107,Type S2,2011,"$9,91,000.00",02/15,
5381,CENTRAL AREA,5 ROOM,1B,CANTONMENT RD,22 TO 24,105,Type S2,2011,"$10,00,000.00",02/15,
5382,CENTRAL AREA,5 ROOM,1B,CANTONMENT RD,22 TO 24,107,Type S2,2011,"$10,18,000.00",03/15,
5383,CENTRAL AREA,5 ROOM,1A,CANTONMENT RD,37 TO 39,107,Type S2,2011,"$10,30,000.00",02/15,
5384,CENTRAL AREA,5 ROOM,1B,CANTONMENT RD,43 TO 45,105,Type S2,2011,"$10,40,000.00",02/15,
5385,CENTRAL AREA,5 ROOM,1A,CANTONMENT RD,46 TO 48,107,Type S2,2011,"$10,50,000.00",04/15,
5386,CENTRAL AREA,5 ROOM,1G,CANTONMENT RD,28 TO 30,107,Type S2,2011,"$10,60,000.00",04/15,
5387,BEDOK,EXECUTIVE,105,LENGKONG TIGA,01 TO 03,148,Maisonette,1989,"$8,10,000.00",03/15,
5388,BISHAN,EXECUTIVE,257,BISHAN ST 22,07 TO 09,146,Maisonette,1992,"$8,12,000.00",04/15,
5389,HOUGANG,EXECUTIVE,522,HOUGANG AVE 6,10 TO 12,145,Maisonette,1987,"$8,20,000.00",03/15,
5390,HOUGANG,EXECUTIVE,221,HOUGANG ST 21,07 TO 09,148,Maisonette,1992,"$8,20,000.00",03/15,
5391,SERANGOON,EXECUTIVE,236A,SERANGOON AVE 2,07 TO 09,141,Apartment,1998,"$8,20,000.00",03/15,
5392,HOUGANG,EXECUTIVE,235,HOUGANG ST 21,01 TO 03,146,Apartment,1984,"$8,25,000.00",02/15,
5393,BISHAN,EXECUTIVE,212,BISHAN ST 23,04 TO 06,149,Maisonette,1992,"$8,35,000.00",01/15,
5394,BEDOK,EXECUTIVE,104,LENGKONG TIGA,07 TO 09,146,Maisonette,1989,"$8,40,000.00",01/15,
5395,TOA PAYOH,EXECUTIVE,99B,LOR 2 TOA PAYOH,04 TO 06,145,Apartment,1993,"$8,48,000.00",03/15,
5396,SERANGOON,EXECUTIVE,317,SERANGOON AVE 2,10 TO 12,151,Maisonette,1985,"$8,55,000.00",04/15,
5397,BISHAN,EXECUTIVE,222,BISHAN ST 23,04 TO 06,154,Maisonette,1992,"$8,60,000.00",03/15,
5398,BISHAN,EXECUTIVE,201,BISHAN ST 23,07 TO 09,150,Maisonette,1992,"$8,80,000.00",01/15,
5399,BISHAN,EXECUTIVE,186,BISHAN ST 13,04 TO 06,153,Maisonette,1987,"$9,00,000.00",03/15,
5400,BUKIT TIMAH,EXECUTIVE,6,TOH YI DR,07 TO 09,146,Maisonette,1989,"$9,30,000.00",02/15,
5401,BISHAN,EXECUTIVE,450,SIN MING AVE,22 TO 24,174,Maisonette,1989,"$9,55,000.00",01/15,
5402,BUKIT TIMAH,EXECUTIVE,7,TOH YI DR,07 TO 09,146,Maisonette,1989,"$9,60,000.00",03/15,
5403,BUKIT TIMAH,EXECUTIVE,3,TOH YI DR,10 TO 12,146,Maisonette,1988,"$9,80,000.00",02/15,
5404,BISHAN,EXECUTIVE,192,BISHAN ST 13,22 TO 24,149,Maisonette,1987,"$10,50,000.00",04/15,

In [4]:
new_resale = resale_price[[u'FLOOR AREA (SQM)    ',u'RESALE PRICE   ']]

In [7]:
new_resale

      FLOOR AREA (SQM)     RESALE PRICE
0                       44   $2,65,000.00
1                       44   $2,72,000.00
2                       45   $2,50,000.00
3                       44   $2,41,000.00
4                       44   $2,45,000.00
5                       44   $2,30,000.00
6                       44   $2,40,000.00
7                       44   $2,45,000.00
8                       61   $2,10,000.00
9                       51   $2,33,000.00
10                      61   $2,38,000.00
11                      67   $2,40,000.00
12                      59   $2,40,000.00
13                      59   $2,40,000.00
14                      60   $2,40,000.00
15                      64   $2,43,000.00
16                      67   $2,44,000.00
17                      59   $2,45,000.00
18                      56   $2,48,000.00
19                      59   $2,48,000.00
20                      59   $2,48,000.00
21                      67   $2,50,000.00
22                      56   $2,50,000.00
23                      59   $2,50,000.00
24                      59   $2,50,000.00
25                      59   $2,50,000.00
26                      65   $2,50,000.00
27                      68   $2,50,000.00
28                      68   $2,50,000.00
29                      67   $2,50,000.00
...                    ...             ...
5375                   106   $9,58,800.00
5376                   107   $9,60,000.00
5377                   105   $9,73,888.00
5378                   106   $9,80,000.00
5379                   147   $9,85,000.00
5380                   107   $9,91,000.00
5381                   105  $10,00,000.00
5382                   107  $10,18,000.00
5383                   107  $10,30,000.00
5384                   105  $10,40,000.00
5385                   107  $10,50,000.00
5386                   107  $10,60,000.00
5387                   148   $8,10,000.00
5388                   146   $8,12,000.00
5389                   145   $8,20,000.00
5390                   148   $8,20,000.00
5391                   141   $8,20,000.00
5392                   146   $8,25,000.00
5393                   149   $8,35,000.00
5394                   146   $8,40,000.00
5395                   145   $8,48,000.00
5396                   151   $8,55,000.00
5397                   154   $8,60,000.00
5398                   150   $8,80,000.00
5399                   153   $9,00,000.00
5400                   146   $9,30,000.00
5401                   174   $9,55,000.00
5402                   146   $9,60,000.00
5403                   146   $9,80,000.00
5404                   149  $10,50,000.00

[5405 rows x 2 columns]

In [9]:
resale_price['TOWN                                    ']

0     ANG MO KIO
1     ANG MO KIO
2     ANG MO KIO
3     ANG MO KIO
4     ANG MO KIO
5     ANG MO KIO
6     ANG MO KIO
7     ANG MO KIO
8     GEYLANG
9     GEYLANG
10    JURONG WEST
11    BUKIT BATOK
12    JURONG WEST
13    JURONG WEST
14    WOODLANDS
...
5390    HOUGANG
5391    SERANGOON
5392    HOUGANG
5393    BISHAN
5394    BEDOK
5395    TOA PAYOH
5396    SERANGOON
5397    BISHAN
5398    BISHAN
5399    BISHAN
5400    BUKIT TIMAH
5401    BISHAN
5402    BUKIT TIMAH
5403    BUKIT TIMAH
5404    BISHAN
Name: TOWN                                    , Length: 5405, dtype: object

In [5]:
optimized_df = resale_price[:1000]

In [6]:
df = pd.DataFrame(optimized_df["RESALE PRICE   "], index=optimized_df["FLOOR AREA (SQM)    "], columns=optimized_df["TOWN                                    "])

In [7]:
df = df.cumsum()

In [ ]:
#This doesn't work , warning
plt.figure()
df.plot()

In [2]:
clf = linear_model.LinearRegression()

In [27]:
observation = []
price = []
for index, row in new_resale.iterrows():
    observation.append([int(row["FLOOR AREA (SQM)    "])])
    re_price  = row["RESALE PRICE   "].replace("$","").replace(",","").replace(".00","")
    price.append([float(re_price)])

np_observation = np.array(observation)
np_price = np.array(price)

In [28]:
clf.fit(np_observation, np_price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp = imp.fit(np_observation)

# Impute our data, then train
np_observation_imp = imp.transform(np_observation)

In [29]:
clf.coef_

array([[ 3575.1157715]])