In [26]:
#Fields
#PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked

import nltk
import csv
import pandas as pd

In [8]:
##read csv
file_object = csv.reader("train.csv")
for line in file_object:
    print line

['t']
['r']
['a']
['i']
['n']
['.']
['c']
['s']
['v']

In [27]:
##try pandas
train_df = pd.read_csv("train.csv")

In [15]:
for line in train_df:
    print line

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [16]:
train_df.columns

Index([u'PassengerId', u'Survived', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch', u'Ticket', u'Fare', u'Cabin', u'Embarked'], dtype='object')

train_df.columns = ['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age']

In [27]:
ageVsSurvival = {}
for index, row in train_df.iterrows():
    print row['Sex'], row['Age'],row['Survived']
    #ageVsSurvival[row['Age']] = ageVsSurvival[row['Age']] + row['Survived']

male 22.0 0
female 38.0 1
female 26.0 1
female 35.0 1
male 35.0 0
male nan 0
male 54.0 0
male 2.0 0
female 27.0 1
female 14.0 1
female 4.0 1
female 58.0 1
male 20.0 0
male 39.0 0
female 14.0 0
female 55.0 1
male 2.0 0
male nan 1
female 31.0 0
female nan 1
male 35.0 0
male 34.0 1
female 15.0 1
male 28.0 1
female 8.0 0
female 38.0 1
male nan 0
male 19.0 0
female nan 1
male nan 0
male 40.0 0
female nan 1
female nan 1
male 66.0 0
male 28.0 0
male 42.0 0
male nan 1
male 21.0 0
female 18.0 0
female 14.0 1
female 40.0 0
female 27.0 0
male nan 0
female 3.0 1
female 19.0 1
male nan 0
male nan 0
female nan 1
male nan 0
female 18.0 0
male 7.0 0
male 21.0 0
female 49.0 1
female 29.0 1
male 65.0 0
male nan 1
female 21.0 1
male 28.5 0
female 5.0 1
male 11.0 0
male 22.0 0
female 38.0 1
male 45.0 0
male 4.0 0
male nan 0
male nan 1
female 29.0 1
male 19.0 0
female 17.0 1
male 26.0 0
male 32.0 0
female 16.0 0
male 21.0 0
male 26.0 0
male 32.0 1
male 25.0 0
male nan 0
male nan 0
male 0.83 1
female 30.0 1
male 22.0 0
male 29.0 1
female nan 1
male 28.0 0
female 17.0 1
female 33.0 1
male 16.0 0
male nan 0
female 23.0 1
male 24.0 0
male 29.0 0
male 20.0 0
male 46.0 0
male 26.0 0
male 59.0 0
male nan 0
male 71.0 0
male 23.0 1
female 34.0 1
male 34.0 0
female 28.0 0
male nan 0
male 21.0 0
male 33.0 0
male 37.0 0
male 28.0 0
female 21.0 1
male nan 1
male 38.0 0
female nan 1
male 47.0 0
female 14.5 0
male 22.0 0
female 20.0 0
female 17.0 0
male 21.0 0
male 70.5 0
male 29.0 0
male 24.0 0
female 2.0 0
male 21.0 0
male nan 0
male 32.5 0
female 32.5 1
male 54.0 0
male 12.0 1
male nan 0
male 24.0 1
female nan 1
male 45.0 0
male 33.0 0
male 20.0 0
female 47.0 0
female 29.0 1
male 25.0 0
male 23.0 0
female 19.0 1
male 37.0 0
male 16.0 0
male 24.0 0
female nan 0
female 22.0 1
female 24.0 1
male 19.0 0
male 18.0 0
male 19.0 0
male 27.0 1
female 9.0 0
male 36.5 0
male 42.0 0
male 51.0 0
female 22.0 1
male 55.5 0
male 40.5 0
male nan 0
male 51.0 0
female 16.0 1
male 30.0 0
male nan 0
male nan 0
male 44.0 0
female 40.0 1
male 26.0 0
male 17.0 0
male 1.0 0
male 9.0 1
female nan 1
female 45.0 0
male nan 0
male 28.0 0
male 61.0 0
male 4.0 0
female 1.0 1
male 21.0 0
male 56.0 0
male 18.0 0
male nan 0
female 50.0 0
male 30.0 0
male 36.0 0
female nan 0
male nan 0
male 9.0 0
male 1.0 1
female 4.0 1
male nan 0
female nan 1
male 45.0 1
male 40.0 0
male 36.0 0
female 32.0 1
male 19.0 0
female 19.0 1
male 3.0 1
female 44.0 1
female 58.0 1
male nan 0
male 42.0 0
female nan 1
female 24.0 0
male 28.0 0
male nan 0
male 34.0 0
male 45.5 0
male 18.0 1
female 2.0 0
male 32.0 0
male 26.0 1
female 16.0 1
male 40.0 1
male 24.0 0
female 35.0 1
male 22.0 0
male 30.0 0
male nan 0
female 31.0 1
female 27.0 1
male 42.0 0
female 32.0 1
male 30.0 0
male 16.0 1
male 27.0 0
male 51.0 0
male nan 0
male 38.0 1
male 22.0 0
male 19.0 1
male 20.5 0
male 18.0 0
female nan 0
female 35.0 1
male 29.0 0
male 59.0 0
female 5.0 1
male 24.0 0
female nan 0
male 44.0 0
female 8.0 1
male 19.0 0
male 33.0 0
female nan 0
female nan 1
male 29.0 0
male 22.0 0
male 30.0 0
male 44.0 0
female 25.0 0
female 24.0 1
male 37.0 1
male 54.0 0
male nan 0
female 29.0 0
male 62.0 0
male 30.0 0
female 41.0 0
female 29.0 1
female nan 1
female 30.0 1
female 35.0 1
female 50.0 1
male nan 0
male 3.0 1
male 52.0 0
male 40.0 0
female nan 0
male 36.0 0
male 16.0 0
male 25.0 1
female 58.0 1
female 35.0 1
male nan 0
male 25.0 1
female 41.0 1
male 37.0 0
female nan 1
female 63.0 1
female 45.0 0
male nan 0
male 7.0 0
female 35.0 1
male 65.0 0
male 28.0 0
male 16.0 0
male 19.0 1
male nan 0
male 33.0 0
male 30.0 1
male 22.0 0
male 42.0 1
female 22.0 1
female 26.0 1
female 19.0 1
male 36.0 0
female 24.0 0
male 24.0 0
male nan 0
male 23.5 0
female 2.0 0
male nan 1
female 50.0 1
female nan 1
male nan 1
male 19.0 0
female nan 1
male nan 0
male 0.92 1
female nan 1
female 17.0 1
male 30.0 0
female 30.0 1
female 24.0 1
female 18.0 1
female 26.0 0
male 28.0 0
male 43.0 0
female 26.0 1
female 24.0 1
male 54.0 0
female 31.0 1
female 40.0 1
male 22.0 0
male 27.0 0
female 30.0 1
female 22.0 1
male nan 0
female 36.0 1
male 61.0 0
female 36.0 1
female 31.0 1
female 16.0 1
female nan 1
male 45.5 0
male 38.0 0
male 16.0 0
female nan 1
male nan 0
male 29.0 0
female 41.0 1
male 45.0 1
male 45.0 0
male 2.0 1
female 24.0 1
male 28.0 0
male 25.0 0
male 36.0 0
female 24.0 1
female 40.0 1
female nan 1
male 3.0 1
male 42.0 0
male 23.0 0
male nan 0
male 15.0 0
male 25.0 0
male nan 0
male 28.0 0
female 22.0 1
female 38.0 0
female nan 1
female nan 1
male 40.0 0
male 29.0 0
female 45.0 0
male 35.0 0
male nan 0
male 30.0 0
female 60.0 1
female nan 1
female nan 1
female 24.0 1
male 25.0 1
male 18.0 0
male 19.0 0
male 22.0 0
female 3.0 0
female nan 1
female 22.0 1
male 27.0 0
male 20.0 0
male 19.0 0
female 42.0 1
female 1.0 1
male 32.0 0
female 35.0 1
male nan 0
male 18.0 0
male 1.0 0
female 36.0 1
male nan 0
female 17.0 1
male 36.0 1
male 21.0 1
male 28.0 0
female 23.0 1
female 24.0 1
male 22.0 0
female 31.0 0
male 46.0 0
male 23.0 0
female 28.0 1
male 39.0 1
male 26.0 0
female 21.0 0
male 28.0 0
female 20.0 0
male 34.0 0
male 51.0 0
male 3.0 1
male 21.0 0
female nan 0
male nan 0
male nan 0
female 33.0 1
male nan 0
male 44.0 1
female nan 0
female 34.0 1
female 18.0 1
male 30.0 0
female 10.0 0
male nan 0
male 21.0 0
male 29.0 0
female 28.0 0
male 18.0 0
male nan 0
female 28.0 1
female 19.0 1
male nan 0
male 32.0 1
male 28.0 1
female nan 1
female 42.0 1
male 17.0 0
male 50.0 0
female 14.0 1
female 21.0 0
female 24.0 1
male 64.0 0
male 31.0 0
female 45.0 1
male 20.0 0
male 25.0 0
female 28.0 1
male nan 1
male 4.0 1
female 13.0 1
male 34.0 1
female 5.0 1
male 52.0 1
male 36.0 0
male nan 0
male 30.0 0
male 49.0 1
male nan 0
male 29.0 1
male 65.0 0
female nan 1
female 50.0 1
male nan 0
male 48.0 1
male 34.0 0
male 47.0 0
male 48.0 0
male nan 0
male 38.0 0
male nan 0
male 56.0 0
male nan 0
female 0.75 1
male nan 0
male 38.0 0
female 33.0 1
female 23.0 1
female 22.0 0
male nan 0
male 34.0 0
male 29.0 0
male 22.0 0
female 2.0 1
male 9.0 0
male nan 0
male 50.0 0
female 63.0 1
male 25.0 1
female nan 0
female 35.0 1
male 58.0 0
male 30.0 0
male 9.0 1
male nan 0
male 21.0 0
male 55.0 0
male 71.0 0
male 21.0 0
male nan 0
female 54.0 1
male nan 0
female 25.0 0
male 24.0 0
male 17.0 0
female 21.0 0
female nan 0
female 37.0 0
female 16.0 1
male 18.0 0
female 33.0 1
male nan 1
male 28.0 0
male 26.0 1
male 29.0 1
male nan 0
male 36.0 1
female 54.0 1
male 24.0 0
male 47.0 0
female 34.0 1
male nan 0
female 36.0 1
male 32.0 0
female 30.0 1
male 22.0 0
male nan 0
female 44.0 1
male nan 0
male 40.5 0
female 50.0 1
male nan 0
male 39.0 0
male 23.0 0
female 2.0 1
male nan 0
male 17.0 0
female nan 1
female 30.0 0
female 7.0 1
male 45.0 0
female 30.0 1
male nan 0
female 22.0 1
female 36.0 1
female 9.0 0
female 11.0 0
male 32.0 1
male 50.0 0
male 64.0 0
female 19.0 1
male nan 1
male 33.0 0
male 8.0 1
male 17.0 1
male 27.0 0
male nan 0
male 22.0 1
female 22.0 1
male 62.0 0
female 48.0 1
male nan 0
female 39.0 1
female 36.0 1
male nan 0
male 40.0 0
male 28.0 0
male nan 0
female nan 0
male 24.0 0
male 19.0 0
female 29.0 0
male nan 0
male 32.0 1
male 62.0 1
female 53.0 1
male 36.0 1
female nan 1
male 16.0 0
male 19.0 0
female 34.0 1
female 39.0 1
female nan 0
male 32.0 1
female 25.0 1
female 39.0 1
male 54.0 0
male 36.0 0
male nan 0
female 18.0 1
male 47.0 0
male 60.0 1
male 22.0 0
male nan 0
male 35.0 0
female 52.0 1
male 47.0 0
female nan 0
male 37.0 0
male 36.0 0
female nan 1
male 49.0 0
male nan 0
male 49.0 1
female 24.0 1
male nan 0
male nan 0
male 44.0 0
male 35.0 1
male 36.0 0
male 30.0 0
male 27.0 1
female 22.0 1
female 40.0 1
female 39.0 0
male nan 0
female nan 1
male nan 0
male 35.0 0
female 24.0 1
male 34.0 0
female 26.0 0
female 4.0 1
male 26.0 0
male 27.0 0
male 42.0 1
male 20.0 1
male 21.0 0
male 21.0 0
male 61.0 0
male 57.0 0
female 21.0 1
male 26.0 0
male nan 0
male 80.0 1
male 51.0 0
male 32.0 1
male nan 0
female 9.0 0
female 28.0 1
male 32.0 0
male 31.0 0
female 41.0 0
male nan 0
male 20.0 0
female 24.0 1
female 2.0 0
male nan 1
female 0.75 1
male 48.0 1
male 19.0 0
male 56.0 1
male nan 0
female 23.0 1
male nan 0
female 18.0 1
male 21.0 0
female nan 1
female 18.0 0
male 24.0 0
male nan 0
female 32.0 0
male 23.0 0
male 58.0 0
male 50.0 1
male 40.0 0
male 47.0 0
male 36.0 0
male 20.0 1
male 32.0 0
male 25.0 0
male nan 0
male 43.0 0
female nan 1
female 40.0 1
male 31.0 0
male 70.0 0
male 31.0 1
male nan 0
male 18.0 0
male 24.5 0
female 18.0 1
female 43.0 0
male 36.0 1
female nan 0
male 27.0 1
male 20.0 0
male 14.0 0
male 60.0 0
male 25.0 0
male 14.0 0
male 19.0 0
male 18.0 0
female 15.0 1
male 31.0 1
female 4.0 1
male nan 1
male 25.0 0
male 60.0 0
male 52.0 0
male 44.0 0
female nan 1
male 49.0 0
male 42.0 0
female 18.0 1
male 35.0 1
female 18.0 0
male 25.0 0
male 26.0 0
male 39.0 0
female 45.0 1
male 42.0 1
female 22.0 1
male nan 1
female 24.0 1
male nan 0
male 48.0 1
male 29.0 0
male 52.0 0
male 19.0 0
female 38.0 1
female 27.0 1
male nan 0
male 33.0 0
female 6.0 1
male 17.0 0
male 34.0 0
male 50.0 0
male 27.0 1
male 20.0 0
female 30.0 1
female nan 1
male 25.0 0
female 25.0 0
female 29.0 1
male 11.0 0
male nan 0
male 23.0 0
male 23.0 0
male 28.5 0
female 48.0 0
male 35.0 1
male nan 0
male nan 0
male nan 1
male 36.0 0
female 21.0 1
male 24.0 0
male 31.0 1
male 70.0 0
male 16.0 0
female 30.0 1
male 19.0 0
male 31.0 0
female 4.0 1
male 6.0 1
male 33.0 0
male 23.0 0
female 48.0 1
male 0.67 1
male 28.0 0
male 18.0 0
male 34.0 0
female 33.0 1
male nan 0
male 41.0 0
male 20.0 1
female 36.0 1
male 16.0 0
female 51.0 1
male nan 0
female 30.5 0
male nan 0
male 32.0 0
male 24.0 0
male 48.0 0
female 57.0 0
male nan 0
female 54.0 1
male 18.0 0
male nan 0
female 5.0 1
male nan 0
female 43.0 1
female 13.0 1
female 17.0 1
male 29.0 0
male nan 0
male 25.0 0
male 25.0 0
female 18.0 1
male 8.0 0
male 1.0 1
male 46.0 0
male nan 0
male 16.0 0
female nan 0
male nan 0
male 25.0 0
male 39.0 0
female 49.0 1
female 31.0 1
male 30.0 0
female 30.0 0
male 34.0 0
female 31.0 1
male 11.0 1
male 0.42 1
male 27.0 1
male 31.0 0
male 39.0 0
female 18.0 0
male 39.0 0
female 33.0 1
male 26.0 0
male 39.0 0
male 35.0 0
female 6.0 0
male 30.5 0
male nan 0
female 23.0 0
male 31.0 0
male 43.0 0
male 10.0 0
female 52.0 1
male 27.0 1
male 38.0 0
female 27.0 1
male 2.0 0
male nan 0
male nan 0
male 1.0 1
male nan 1
female 62.0 1
female 15.0 1
male 0.83 1
male nan 0
male 23.0 0
male 18.0 0
female 39.0 1
male 21.0 0
male nan 0
male 32.0 1
male nan 1
male 20.0 0
male 16.0 0
female 30.0 1
male 34.5 0
male 17.0 0
male 42.0 0
male nan 0
male 35.0 0
male 28.0 0
female nan 1
male 4.0 0
male 74.0 0
female 9.0 0
female 16.0 1
female 44.0 0
female 18.0 1
female 45.0 1
male 51.0 1
female 24.0 1
male nan 0
male 41.0 0
male 21.0 0
female 48.0 1
female nan 0
male 24.0 0
female 42.0 1
female 27.0 1
male 31.0 0
male nan 0
male 4.0 1
male 26.0 0
female 47.0 1
male 33.0 0
male 47.0 0
female 28.0 1
female 15.0 1
male 20.0 0
male 19.0 0
male nan 0
female 56.0 1
female 25.0 1
male 33.0 0
female 22.0 0
male 28.0 0
male 25.0 0
female 39.0 0
male 27.0 0
female 19.0 1
female nan 0
male 26.0 1
male 32.0 0

In [32]:
len(train_df)

891

In [34]:
classifier = nltk.NaiveBayesClassifier.train(train_df[:500])

ValueError: too many values to unpack

In [8]:
survival = 0 
nonSurvival = 0
for index, row in train_df.iterrows():
    if row['Survived'] == 1:
        survival += 1
    if row['Survived'] == 0:
        nonSurvival += 1
    
print "Survived People",survival,"and Non survived",nonSurvival

Survived People 342 and Non survived 549

In [5]:
import numpy as np
X = np.random.randint(5, size=(6, 100))
y = np.array([1, 2, 3, 4, 5, 6])
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X,y)
print(clf.predict(X[2]))

[3]

In [8]:
print X,y

[[2 1 4 1 2 4 1 3 3 3 2 3 0 0 0 2 1 4 0 4 3 0 0 1 4 3 4 3 0 3 0 2 2 1 0 3 2
  4 4 0 1 3 4 0 4 3 2 3 4 3 0 0 0 1 1 1 0 3 3 3 0 2 1 3 1 1 0 0 0 2 2 0 3 1
  2 3 0 0 1 2 3 1 4 3 2 2 0 1 3 0 0 4 1 1 1 4 1 2 2 4]
 [2 0 0 1 4 3 1 1 1 2 0 4 0 0 0 4 3 1 0 4 1 1 3 1 3 0 3 1 0 4 2 2 3 4 3 3 0
  3 3 4 1 3 4 3 3 2 1 4 1 1 4 0 3 0 3 2 0 3 1 2 3 2 0 1 1 3 4 3 0 0 2 0 1 0
  0 0 3 2 4 0 0 1 3 4 1 1 1 3 0 4 3 4 2 2 3 0 4 0 1 1]
 [1 1 2 3 0 3 3 3 4 1 1 1 4 4 0 0 2 0 3 3 1 2 1 1 2 0 2 3 0 1 3 1 0 0 0 2 2
  4 4 2 1 1 2 1 3 2 4 0 3 2 1 1 0 3 1 4 0 0 0 4 3 1 4 4 4 4 2 3 4 4 3 4 1 4
  2 3 1 3 2 4 1 4 3 1 1 0 1 1 1 4 1 2 0 2 3 2 2 3 3 4]
 [3 1 3 2 4 2 0 4 3 3 4 2 1 3 0 0 0 1 1 1 0 0 4 3 0 4 3 4 1 3 3 4 2 1 1 1 3
  1 0 2 4 4 4 3 3 1 4 3 3 1 1 2 3 4 1 4 3 2 0 0 4 3 0 3 0 2 4 0 0 0 0 1 1 0
  4 4 4 2 3 2 3 2 4 1 4 1 2 3 3 2 3 3 2 1 0 1 4 1 1 3]
 [3 1 1 4 2 4 2 2 3 0 0 1 4 1 2 0 1 2 2 0 1 1 2 0 1 4 2 0 1 1 0 3 0 1 2 1 3
  3 4 1 1 4 1 3 1 1 2 1 4 1 3 0 4 0 0 0 4 2 3 0 1 0 2 2 2 0 3 2 2 2 4 4 4 2
  3 1 0 4 3 2 4 3 3 0 1 4 1 0 3 4 2 4 3 2 3 1 4 2 2 3]
 [1 2 3 3 2 0 0 1 0 0 3 0 0 0 3 1 4 2 0 0 1 3 3 4 4 3 4 3 0 0 4 4 1 3 2 4 2
  3 2 4 3 4 0 4 0 2 2 0 4 1 0 0 2 1 2 3 4 4 0 1 0 2 0 2 3 2 3 0 3 3 2 2 3 1
  4 4 2 1 0 4 1 2 0 2 0 2 0 2 3 0 1 4 3 1 0 2 4 2 1 0]] [1 2 3 4 5 6]

In [24]:
clf.predict(FirstRow[0])

array([2])

In [23]:
FirstRow = np.random.randint(5,size=(1,100))
FirstRow

array([[0, 2, 4, 3, 0, 3, 1, 2, 0, 2, 3, 3, 1, 0, 4, 0, 1, 0, 2, 4, 4, 4,
        3, 3, 3, 1, 4, 1, 0, 4, 4, 3, 3, 1, 3, 1, 4, 2, 4, 2, 2, 2, 3, 4,
        0, 3, 4, 4, 0, 3, 3, 3, 3, 1, 2, 0, 1, 4, 3, 1, 4, 2, 0, 1, 3, 4,
        3, 4, 0, 0, 0, 0, 0, 3, 0, 0, 4, 2, 4, 4, 2, 0, 4, 4, 3, 2, 0, 2,
        0, 1, 3, 2, 4, 3, 4, 1, 0, 0, 3, 3]])

In [56]:
observation = []
survivals = []
for index, row in train_df.iterrows():
    survivals.append(row['Survived'])
    if row['Sex'] == "male":
        observation.append([row['Pclass'], 1, row['Age'] ])
    elif row['Sex'] == "female":
        observation.append([row['Pclass'], 0, row['Age'] ])

np_observation = np.array(observation)
np_survivals = np.array(survivals)

In [57]:
#Both must have equal length for applying the fit model
np_observation

array([[  3.,   1.,  22.],
       [  1.,   0.,  38.],
       [  3.,   0.,  26.],
       ...,
       [  3.,   0.,  nan],
       [  1.,   1.,  26.],
       [  3.,   1.,  32.]])

In [40]:
titanic_clf = MultinomialNB()
titanic_clf.fit(np_observation,np_survivals)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

NameError: name 'nan' is not defined

In [60]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp = imp.fit(np_observation)

# Impute our data, then train
np_observation_imp = imp.transform(np_observation)

In [61]:
np_observation_imp

array([[  3.        ,   1.        ,  22.        ],
       [  1.        ,   0.        ,  38.        ],
       [  3.        ,   0.        ,  26.        ],
       ...,
       [  3.        ,   0.        ,  29.69911765],
       [  1.        ,   1.        ,  26.        ],
       [  3.        ,   1.        ,  32.        ]])

In [62]:
##using the mean of the age values
titanic_clf_imp = MultinomialNB()
titanic_clf_imp.fit(np_observation_imp,np_survivals)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [64]:
test_df = pd.read_csv("test.csv")
test_df

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [65]:
test_data = []
for index, row in test_df.iterrows():
    
    if row['Sex'] == "male":
        test_data.append([row['Pclass'], 1, row['Age'] ])
    elif row['Sex'] == "female":
        test_data.append([row['Pclass'], 0, row['Age'] ])

np_test= np.array(test_data)

In [72]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp = imp.fit(np_test)

# Impute our data, then train
np_test_imp = imp.transform(np_test)
submission = titanic_clf_imp.predict(np_test_imp)

submission.tofile("submission.csv",sep="\n")

In [87]:
test_df_survived =test_df
test_df_survived['Survived'] = submission

In [104]:
# del test_df_survived["Sex"]
# del test_df_survived["Age"]
# del test_df_survived["SibSp"]
# del test_df_survived["Parch"]
# del test_df_survived["Ticket"]
# del test_df_survived["Fare"]
# del test_df_survived["Cabin"]
# del test_df_survived["Embarked"]
# del test_df_survived["Pclass"]
del test_df_survived["Name"]

In [106]:
test_df_survived.to_csv("submission.csv",sep=",", index=False)

In [105]:
test_df_survived

     PassengerId  Survived
0            892         0
1            893         1
2            894         1
3            895         0
4            896         0
5            897         0
6            898         0
7            899         0
8            900         0
9            901         0
10           902         0
11           903         0
12           904         1
13           905         1
14           906         1
15           907         0
16           908         0
17           909         0
18           910         0
19           911         1
20           912         1
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         0
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         0
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         0
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         0
409         1301         0
410         1302         0
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]